@import '~node_modules/modern-normalize/modern-normalize.css'; 

nav{ 
    background-color:#426c9f;
    width: 100%; 
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;  
    box-shadow: 1px 4px 6px 0px #00000029;;
    
}  

.button-container{  
    width: 150;
    margin: auto; 
    margin-bottom: 10px; 
   
}
 
 
.load-more{  
    width: 150px; 
    display: flex; 
    justify-content: center;  
    margin: auto; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0202021a;
    color: black;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(59, 52, 55, 0.092); 
    transition: transform 0.3s, box-shadow 0.3s; 
} 

.gallery{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-left: 10px; 
    margin-right: 10px; 
   
 
}  

.photo-card{ 
    border: 1px solid hex(757575);
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px; 
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 1px 4px 6px 0px #00000029;
}
.block-size{ 
    width: 100%; 
    height: 80%; 
    border: 1px solid hex(757575);
}  

.photo-card-img{ 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    display: block; 
    position: relative; 
    overflow: hidden;
}
 
.info{ 
    display: flex;  
    justify-content: space-around;
}  

.info-item{ 
    font-size: 14px; 
    text-align: center; 
    font-weight: 700;
}
 

